@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-pagination-bullet {
  /* border: 2px solid red !important; */
  color: white !important;
  background-color: white !important;
  height: 10px !important;
  width: 10px !important;
}
.swiper-pagination-bullet-active {
  height: 12px !important;
  width: 12px !important;
}
.swiper-button-next,
.swiper-button-prev {
  /* border: 2px solid red !important; */
  color: white !important;
}

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background-color: #02020a;
  }
}
